.product_page_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_page_main .product_container {
  width: 95%;
  margin: 10px 0;
  background: #fff;
}
.product_page_main .product_container .productbox_available {
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
.product_page_main .product_container .product_container_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.product_page_main .product_container .product_container_content .product_page_thumbnails_slider {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_page_main .product_container .product_container_content .product_page_thumbnails_slider .product_page_main_image {
  height: 85%;
  transform: scale(0.7);
}
.product_page_main .product_container .product_container_content .product_page_thumbnails_slider .product_page_thumbnails_slider_other_images {
  width: 100%;
  background: #fff;
  height: 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  bottom: 0;
}
.product_page_main .product_container .product_container_content .product_page_thumbnails_slider .product_page_thumbnails_slider_other_images img {
  width: 80px;
  height: 100%;
  cursor: pointer;
}
.product_page_main .product_container .product_container_content .product_page_content_info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_title {
  width: 100%;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_title p {
  font-size: 21px;
  font-weight: 600;
  color: #333;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_title .product_content_info_title_rating {
  width: 30%;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_title .product_content_info_title_rating p {
  font-size: 14px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_title .product_content_info_title_rating .productbox_rating_div {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_title .product_content_info_title_rating .productbox_rating_div img {
  width: 18px;
  height: 18px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price {
  width: 100%;
  padding: 30px 0;
  margin: 10px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_div {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_div h2 {
  color: #333;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_div span {
  text-decoration: line-through;
  font-size: 14px;
  color: grey;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_quantity {
  width: 100%;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_quantity .qunatity_td {
  width: 80px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_quantity .qunatity_td .quantity_button {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_quantity .qunatity_td h2 {
  color: #333;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info_price .product_content_info_price_quantity .qunatity_td p {
  font-weight: 600;
  margin-bottom: 5px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info .product_content_info_card {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info .product_content_info_card span {
  color: grey;
  font-size: 14px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info .product_content_info_card p {
  font-weight: 600;
  font-size: 14px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info .product_content_info_card .product_content_info_color_box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .product_content_info .product_content_info_card .product_content_info_color_box .product_content_info_color_card {
  border-radius: 3px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .buy_button {
  margin-top: 10px;
}
.product_page_main .product_container .product_container_content .product_page_content_info .buy_button button {
  font-size: 15px;
  padding: 7px 30px;
  border-radius: 3px;
  border: none;
  background: #3d97ee;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.product_page_main .product_container .product_container_content .product_page_content_info .buy_button button:hover {
  background: #005acb;
}
.product_page_main .product_container .product_container_content .product_page_content_info .buy_button button svg {
  font-size: 22px;
}/*# sourceMappingURL=ProductPage.css.map */