.product_page_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .product_container{
        width: 95%;
        margin: 10px 0;
        background: #fff;
        .product_container_content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 30px 20px;
            .product_page_thumbnails_slider{
                width: 40%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                .product_page_main_image{
                    height: 85%;
                    transform: scale(.7);
                }
                .product_page_thumbnails_slider_other_images{
                    width: 100%;
                    background: #fff;
                    height: 15%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;
                    position: absolute;
                    bottom: 0;
                    img{
                        width: 80px;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }
            .product_page_content_info{
                width: 50%;
                display: flex;
                flex-direction: column;
                .product_content_info_title{
                    width: 100%;
                    p{
                        font-size: 21px;
                        font-weight: 600;
                        color: #333;
                    }
                    .product_content_info_title_rating{
                        width: 30%;
                        margin: 15px 0;
                        display: flex;
                        justify-content: space-between;
                        p{
                            font-size: 14px;
                        }
                        .productbox_rating_div{
                            display: flex;
                            gap: 5px;
                            cursor: pointer;
                            img{
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
                .product_content_info_price{
                    width: 100%;
                    padding: 30px 0;
                    margin: 10px 0;
                    border-top: 1px solid lightgrey;
                    border-bottom: 1px solid lightgrey;
                    .product_content_info_price_quantity{
                        width: 100%;
                        .qunatity_td{
                            width: 80px;
                            justify-content: space-between;
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            .quantity_button{
                                background: none;
                                border: none;
                                font-size: 28px;
                                cursor: pointer;
                            }
                            h2{
                                color: #333;
                            }
                            p{
                                font-weight: 600;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                .product_content_info{
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .product_content_info_card{
                        width: 50%;
                        display: flex;
                        justify-content: space-between;
                        span{
                            color: grey;
                            font-size: 14px;
                        }
                        p{
                            font-weight: 600;
                            font-size: 14px;
                        }
                    .product_content_info_color_box{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        .product_content_info_color_card{
                            border-radius: 3px;
                        }
                    }
                    }
                }
                .buy_button{
                    margin-top: 10px;
                    button{
                        font-size: 15px;
                        padding: 7px 30px;
                        border-radius: 3px;
                        border: none;
                        background: #3d97ee;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        cursor: pointer;
                        
                        &:hover{
                            background: #005acb;
                        }
        
                        svg{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}