.category_page_main_container_main{
    width: 100%;
    padding: 0 20px;
    .category_page_main_conteiner_title{
        width: 100%;
        background: #fff;
        margin: 50px 0 0;
        padding: 20px;
        p{
            font-size: 30px;
            color: #333;
        }
    }
    .category_page_main_container{
        width: 100%;
        display: flex;
        .category_product_container{
            .category_sort_container{
                width: 100%;
                padding: 20px;
                background: #fff;
                margin-top: 1px;
                p{
                    font-size: 14px;
                    span{
                        color: #337ab7;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}