.admin_panel_products_content{
    width: 100%;
    .admin_panel_products_content_title{
        p{
            font-size: 18px;
            color: #333;
        }
    }
    .admin_panel_products_content_table{
        margin-top: 20px;
        .admin_panel_products_content_table_header{
            width: 100%;
            display: flex;
            color: #333;
            margin-bottom: 20px;
        }
        .admin_panel_products_content_table_body{
            width: 100%;
            display: flex;
            align-items: center;
            color: #333;
            cursor: pointer;
            padding: 10px 0;
            border-top: 1px solid grey;
        }
    }
}