.shoppage_product_container{
    width: 60%;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    h2{
        margin-top: 20px;
    }

    .shoppage_product_container_p{
        font-size: 26px;
        color: #333
    }
}