.product_img{
    width: 80px;
    img{
        width: 64px;
    }
}
.product_title{
    width: 450px;
}
.product_price{
    width: 100px;
}
.product_type{
    width: 150px;
}
.product_brend{
    width: 100px;
}