.homepage_product_container{
    width: 100%;
    padding: 0 50px;
    .homepage_product_container_p{
        font-size: 32px;
        color: #333333;
        padding-top: 50px;
        margin-bottom: 20px;
    }
}